@import "../../../styles/variables";

.auth-menu {
  &__main-page-photo {
    width: 32px;
    height: 32px;

    &__img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;

    &__user-photo {
      &__img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
      }
    }

    &__data {
      margin-left: 20px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      &__user-name {
        margin-bottom: 5px;
        font-size: 0.9rem;
        font-weight: bold;
      }

      &__user-mail {
        font-size: 0.8rem;
        color: #666;
      }
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-top: 1px solid #dadce0;
    padding: 10px 10px 0 10px;
  }

  &__main-page-photo {
    width: 32px;

    &__img {
      width: 100%;
      border-radius: 50%;
    }
  }

}

::ng-deep .mat-menu-panel {
  max-width: none !important;
}
