<nav class="auth-menu">
  <!--SIGN IN-->
  <button
    class="auth-menu__sign-in"
    *ngIf="auth.authenticated === false"
    mat-flat-button color="accent"
    (click)="signIn()">
    Sign In
  </button>

  <div *ngIf="auth.currentUser">
    <!--MAIN PHOTO-->
    <div class="auth-menu__main-page-photo">
      <img
        class="auth-menu__main-page-photo__img"
        [src]="auth.currentUser.photoURL || null"
        [matMenuTriggerFor]="menu"/>
    </div>

    <!--MENU-->
    <mat-menu #menu="matMenu">
      <div class="auth-menu__user-info">
        <img
          class="auth-menu__user-info__user-photo__img"
          [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'">
        <div class="auth-menu__user-info__data">
          <div class="auth-menu__user-info__data__user-name">
            {{auth.currentUser.displayName}}
          </div>
          <div class="auth-menu__user-info__data__user-mail">
            {{auth.currentUser.email}}
          </div>
        </div>
      </div>

      <div class="auth-menu__action">
        <button
          mat-stroked-button
          class="auth-menu__action__change-user"
          (click)="auth.signOut(); signIn()">Change user
        </button>

        <button
          class="auth-menu__action__sign-out"
          *ngIf="auth.authenticated"
          mat-flat-button
          color="accent"
          (click)="auth.signOut()">
          Sign Out
        </button>
      </div>
    </mat-menu>
  </div>
</nav>
