@import "../../../styles/variables";

.sidenav-container {
  height: 100%;

  &__own-posts {
    margin-left: 10px;
    font-size: 0.9rem
  }
}

.sidenav {
  width: 200px;
  border: none;
}

.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $backgroundColor;
  color: black;
}

.sidenav-content__logo {
  flex: 1 1 auto;
}

.mat-toolbar {
  border-bottom: 1px solid $borderColor;
  background-color: $backgroundColor;
  z-index: 10;

}

@media screen and (max-width: 576px) {
  .sidenav {
    width: 100px;
    border-left: 1px solid $borderColor;
  }
}
