<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'side'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a *ngIf="auth.authenticated"
         mat-list-item
         (click)="controlPanelService.init()"
         routerLink="control_panel">
        <mat-icon>settings</mat-icon>
        Control Panel
      </a>
      <mat-list-item
        *ngIf="auth.authenticated && router.url === '/control_panel'"
        class="sidenav-container__own-posts"
        (click)="controlPanelService.fetchOwnNews()">
        <mat-icon>chevron_right</mat-icon>
        My Posts
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="sidenav-content__logo">LOGO</div>
      <app-auth-menu></app-auth-menu>
    </mat-toolbar>

    <app-add-button></app-add-button>
    <router-outlet></router-outlet>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
