<mat-card
  class="news-card">
  <mat-card-header class="news-card__header">

    <div *ngIf="router.url === '/control_panel'">

      <button
        *ngIf="auth.currentUserId === newsItem.authorID ||
               auth.currentUserId === '4LpnOCOeylXb99wApvOd1m03zDq1'"
        mat-icon-button
        [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDeleteDialog(newsItem.key)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item (click)="openEditDialog(newsItem)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
      </mat-menu>
    </div>

    <mat-card-title>
      {{newsItem.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{newsItem.type}}
      <div class="news-card__content__dates">
        {{newsItem.startDate | date}}
      </div>
      {{newsItem.authorName}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class=" ">
    <div class="news-card__content__news-text">
      {{newsItem.text}}
    </div>

  </mat-card-content>
  <ng-container *ngIf="router.url === '/control_panel'">
    <mat-card-actions
      *ngIf="auth.currentUserId === newsItem.authorID ||
      auth.currentUserId === '4LpnOCOeylXb99wApvOd1m03zDq1'"
      class="news-card__actions">

      <mat-slide-toggle
        (toggleChange)="newsItem.status = !newsItem.status"
        (change)="updateNews(newsItem.key,newsItem.status )"
        [checked]="newsItem.status">
        Published
      </mat-slide-toggle>
    </mat-card-actions>
  </ng-container>
</mat-card>
