.news-card {
  margin-bottom: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    &__news-text {
      font-size: 1.2rem;
      margin: 0 16px;
    }

    &__dates {
      font-size: 0.9rem;
      margin: 10px 0;
    }
  }

  &__actions {
    margin: 0 16px;
  }
}
