.main-content {
  width: 60%;
  margin: 10px auto;

  &__filter-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__show-more-btn {
    margin: 0 auto;
    display: block;
  }

}

@media screen and (max-width: 768px) {
  .main-content {
    width: 90%;
  }
}

.mat-spinner {
  margin: 100px auto;
}
