<mat-spinner *ngIf="homeService.newsData === undefined; else mainComponent"></mat-spinner>
<ng-template #mainComponent>
  <main class="main-content">
    <section class="main-content__filter-search">

      <app-sorting [newsData]="homeService.newsData"></app-sorting>

      <app-search-form (searchNewsValue)="homeService.searchValue($event)"></app-search-form>

    </section>

    <section class="main-content__news">

      <ng-container *ngFor="let item of homeService.newsData">
        <app-news-card [newsItem]="item"></app-news-card>
      </ng-container>

      <button
        class="main-content__show-more-btn"
        mat-flat-button
        color="primary"
        (click)="homeService.changeLimit()">Show more
      </button>

    </section>

  </main>

</ng-template>


