<form class="form" [formGroup]="submitForm" (ngSubmit)="onSubmit()">
  <h2 *ngIf="newsData === null;  else editTitle " class="submit-form__title">Create a post</h2>

  <ng-template #editTitle>
    <h2  class="submit-form__title">Edit a post</h2>
  </ng-template>
  <div>
    <mat-form-field>
      <mat-select
        formControlName="type"
        placeholder="Select the type of news"
        required>
        <mat-option value="news">News</mat-option>
        <mat-option value="announcement">Announcement</mat-option>
        <mat-option value="Support request">Support request</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        #title
        maxlength="80"
        required
        formControlName="title">
      <mat-hint align="end">{{title.value.length}} / 80</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input
        matInput
        #message
        maxlength="140"
        placeholder="Text"
        required
        formControlName="text"/>
      <mat-hint align="end">{{message.value.length}} / 140</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input
        matInput
        [matDatepickerFilter]="filterStartDate"
        formControlName="startDate"
        [matDatepicker]="picker1"
        placeholder="Choose a start date"
        required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 startView="month"></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input
        matInput
        [matDatepickerFilter]="filterEndDate"
        formControlName="endDate"
        [matDatepicker]="picker"
        placeholder="Choose end date"
        required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="month"></mat-datepicker>
    </mat-form-field>
  </div>

  <label>
    <section class="example-section">
      Draft
      <mat-slide-toggle
        class="example-margin"
        formControlName="status"
        [checked]=false>
        Published
      </mat-slide-toggle>
    </section>
  </label>
</form>

<mat-dialog-actions align="end">
  <button class="mat-raised-button" (click)="closeDialog()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="onSubmit()">Save</button>
</mat-dialog-actions>
