@import "../../../../styles/variables";

.delete-item {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    color: #f8bb86;
    width: 25%;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 20px 0;
  }

  &__subtitle {
    font-size: 1.1rem;
    margin: 20px 0;
  }

  &__action {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;

    &__submit-button {

      color: $backgroundColor;
      font-size: 1.2rem;

    }

    &__cancel {
      background-color: #bdbdbd;
      color: $backgroundColor;
      font-size: 1.2rem;
    }
  }
}
