<div class="delete-item-wrapper">
  <span class="delete-item__logo">
    <mat-icon style="font-size: 5rem;">error_outline</mat-icon>

  </span>
  <h2 class="delete-item__title">Are you sure?</h2>
  <div class="delete-item__subtitle">You will not be able to recover this news file!</div>
  <div class="delete-item__action">
    <button
      class="delete-item__action__submit-button"
      mat-raised-button
      color="warn"
      (click)="deleteNewsItem(data, 'News removed')">Yes, delete it!
    </button>
    <button
      mat-button
      class="delete-item__action__cancel"
      mat-raised-button
      (click)="closeDialog()">No, cancel!
    </button>

  </div>
</div>
