<form [formGroup]="submitForm"
      (ngSubmit)="onSubmit()"
>
  <mat-form-field>
    <mat-select
      formControlName="subjectType"
      placeholder="Select"
      required
    >
      <mat-option value="news">News</mat-option>
      <mat-option value="announcement">Announcement</mat-option>
      <mat-option value="Support request">Support request</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="Input"
        required
        formControlName="subjectText"
      >
    </mat-form-field>
  </div>


  <!--DATE START-->
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="subjectStartDate"
        [matDatepicker]="picker1"
        placeholder="Choose a start date"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 startView="month"></mat-datepicker>
    </mat-form-field>
  </div>

  <!--DATE END-->
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="subjectEndDate"
        [matDatepicker]="picker"
        placeholder="Choose a end date"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="month"></mat-datepicker>
    </mat-form-field>
  </div>

  <label>
    <section class="example-section">
      Draft
      <mat-slide-toggle
        class="example-margin"
        formControlName="subjectStatus"
        [color]= 'warn'
        [checked]=false
        >
        Published
      </mat-slide-toggle>
    </section>
  </label>
  <button mat-raised-button	type="submit" color="accent" [disabled]="!submitForm.valid">Submit</button>
</form>

