<ng-container *ngIf=" router.url !== '/404'">
  <button
    *ngIf="auth.authenticated"
    class="add-button"
    mat-fab
    matTooltip="Create new"
    (click)="openDialog()"
    color="accent">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>

