<div class="page-not-found">
  <h1 class="page-not-found__txt">Oops! Page not found!</h1>
  <button mat-flat-button
          color="accent" class="page-not-found__btn" routerLink="/home">Back to home page
  </button>
</div>
