@import "../../../styles/variables";

.page-not-found {
  width: 60%;
  margin: 70px auto;

  &__txt {
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    color: $baseColor;
  }

  &__btn {
    display: block;
    margin: 50px auto;
  }
}
