.main-content {
  margin: 10px auto;

  &__filter-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &__filter {
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__filter-btn {
        margin-right: 10px;
      }

      &__filter-form {
        &__input {
          width: 100%;

          ::ng-deep .mat-form-field-infix {
            width: 110px;
          }
        }
      }
    }
  }
}
