<div class="main-content__filter-search__filter">
  <button
    class="main-content__filter-search__filter__filter-btn"
    mat-icon-button
    (click)="showFilter = !showFilter">
    <mat-icon>filter_list</mat-icon>
  </button>

  <form
    class="main-content__filter-search__filter__filter-form"
    *ngIf="showFilter"
    [formGroup]="filterForm"
    (ngSubmit)="sorting($event.target.value)">
    <mat-form-field class="main-content__filter-search__filter__filter-form__input">
      <mat-select
        formControlName="selectInput"
        placeholder="Sort by date"
        (selectionChange)="sorting($event.value)">

        <mat-option value="Ascending">Ascending</mat-option>
        <mat-option value="Descending">Descending</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
