<mat-spinner *ngIf="serviceControlPanel.newsData === undefined; else mainComponent"></mat-spinner>
<ng-template #mainComponent>
  <main *ngIf="serviceControlPanel.auth.authenticated" class="main-content">
    <section class="main-content__filter-search">

      <app-sorting [newsData]="serviceControlPanel.newsData"></app-sorting>

      <app-search-form (searchNewsValue)="serviceControlPanel.searchValue($event)"></app-search-form>

    </section>

    <section class="main-content__news">
      <ng-container *ngFor="let item of serviceControlPanel.newsData">
        <app-news-card [newsItem]="item"></app-news-card>
      </ng-container>
    </section>

  </main>
</ng-template>
