.filter-search {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;

  &__select-search {
    margin-right: 10px;

    ::ng-deep .mat-form-field-infix {
      width: 70px;
    }
  }

  &__search {
    &__search-form {
      transition: .3s ease-in-out;
      width: 130px;

      &__input {
        width: 100%;

      }
    }
  }


}
