<div class="filter-search">
  <form
    class="filter-search__select-search"
    *ngIf="showSearchField && router.url === ('/control_panel')"
    [formGroup]="filterForm">
    <mat-form-field>
      <mat-select
        [(value)]="selectedTypeOfSearch"
        placeholder="Search by">
        <mat-option value="text">Text</mat-option>
        <mat-option value="title">Title</mat-option>
        <mat-option value="author">Author</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-form-field class="filter-search__search__search-form" *ngIf="showSearchField">
    <input
      class="filter-search__search__search-form__input"
      matInput
      placeholder="Search news"
      (keyup)="onKey($event.target.value)">
  </mat-form-field>

  <button
    class="filter-search__search__search-btn"
    mat-icon-button
    (click)="showSearchField = !showSearchField">
    <mat-icon>find_in_page</mat-icon>
  </button>
</div>
