/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');
@import "styles/reset";
@import "styles/variables";



html, body{
  height: 100%;
  background-color: #fafafa;
  font-family: Roboto, sans-serif;

}
